{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ blog_post.description }}
    {% endmetablock %}
{% endblock %}

{% block title %}
    {% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}
    {% block blog_post_detail_postedby %}
        <h6 class="post-meta">
            {{ blog_post.publish_date | date }}
        </h6>
    {% endblock blog_post_detail_postedby %}

    <h1>{{ blog_post.title }}</h1>
    {% for category in blog_post.categories.all %}
    <span class="label label-primary">{{ category.title  }}</span>
    {% endfor %}

    <br>

    {% block blog_post_detail_featured_image %}
        {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
        <p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
        {% endif %}
    {% endblock blog_post_detail_featured_image%}

    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

    {% block blog_post_detail_content %}
        {% editable blog_post.content %}
            {{ blog_post.content|richtext_filters|safe }}
        {% endeditable %}
    {% endblock %}

    {% comment %}
    {% block blog_post_detail_keywords %}
        {% keywords_for blog_post as tags %}
        {% if tags %}
            {% spaceless %}
                <ul class="list-inline tags">
                    <li>{% trans "Tags" %}:</li>
                    {% for tag in tags %}
                    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
                    {% endfor %}
                </ul>
            {% endspaceless %}
        {% endif %}
    {% endblock blog_post_detail_keywords %}
    {% endcomment %}

    <br>
    <div class="fb-like"
	data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
        data-layout="button_count"
        data-action="like"
        data-size="large"
        data-show-faces="true"
        data-share="true">
    </div>

    <div class="fb-comments"
        data-href="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}"
        data-numposts="10"
        width="100%">
    </div>



    {% block blog_post_previous_next %}
        <ul class="pager">
            {% with blog_post.get_previous_by_publish_date as previous %}
                {% if previous %}
                <li class="previous">
                    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
                </li>
                {% endif %}
            {% endwith %}
            {% with blog_post.get_next_by_publish_date as next %}
                {% if next %}
                <li class="next">
                    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
                </li>
                {% endif %}
            {% endwith %}
        </ul>
    {% endblock %}

    {% block blog_post_detail_related_posts %}
        {% if related_posts %}
            <div id="related-posts">
                <h3>{% trans 'Related posts' %}</h3>
                <ul class="list-unstyled">
                    {% for post in related_posts %}
                         <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endblock blog_post_detail_related_posts %}

{% endblock main %}
